.body {
    position: relative;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    padding: 40px 0 0 0;
}

.teamForm {
    padding: 0 10px;
}
.teamForm input{
    margin-bottom:3px;
}
.controlBnts {
    padding: 0 10px;
}

.startGame {
    /*border-radius: 40%;*/
    width: 50%;
    height: 85px;
    line-height:70px;
    position: absolute;
    top: 65%;
    text-align: center;
    margin-left: 25%;
    font-weight:bold;
    font-size:25px;
}
.startGame:hover{
    
}
.addTeam {
    margin-top: 10px;
    width: 100%;
}

.score{
    float:right;
    color:red;
    font-weight:bold;
    font-size:18px;    
}
.teamName{    
    font-weight:bold;
    font-size:18px;
}
