<h2 class="timer" ng-bind="vm.seconds"></h2>

<div class="hintWrapper">
    <div class="hint">
        Перевод отдельных слов, фраз, а
    </div>
</div>

<div class="wordArea" ng-click="vm.changeWord()" ng-swipe-left="vm.swipeLeft()" ng-swipe-right="vm.swipeRight()">
    <h4 class="minus" ng-bind="vm.roundScore.minus"></h4>
    <h3 class="wordDefinition" ng-bind="vm.currentWord"></h3>
    <h4 class="plus" ng-bind="vm.roundScore.plus"></h4>
</div>

<div class="iconQuestion"></div>

<h4 class="alertMessage">У Вас осталось 2 подсказки</h4>

<!-- Modal -->
<div class="modal fade" id="timeUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title wordDefinition" id="exampleModalLabel" ng-bind="vm.currentWord"></h3>
            </div>
            <div class="modal-body">
                <div ng-repeat="team in vm.teams" class="form-control clearfix teamName">
                    <div ng-bind="team.name"></div>
                </div>
                <div class="teamName form-control nobody">Никто</div>
            </div>
        </div>
    </div>
</div>