<!DOCTYPE html>
<html ng-app="aliasApp">
<head>
    <title>Alias</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet" />
</head>
<body ng-controller="startController">
   <div class="wrapper">
   <form class="teamForm" id="teamForm">
       <input type="text" class="form-control" ng-model="Teams[0].name">
       <input type="text" class="form-control" ng-model="Teams[1].name">       
   </form>  
       <div class="controlBnts">
           <a class="btn btn-default addTeam" ng-click="addTeam()">Добавить команду</a>         
       </div>
       <a class="btn btn-success startGame">Старт!</a>
   </div>
   

    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery.touchSwipe.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
